/* urbanist-regular - latin-ext_latin */
@font-face {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/urbanist-v10-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/urbanist-v10-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/urbanist-v10-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/urbanist-v10-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/urbanist-v10-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/urbanist-v10-latin-ext_latin-regular.svg#Urbanist') format('svg'); /* Legacy iOS */
}
:root {
    --sal--background--dark:#1E1E1E;
    --sal--text--white: #ffffff;
    --sal--primary--color:#A854EE;
    --sal--input--bg--color:#343538;
    --sal-footer-dark:#151515;
}

html, body {
    background: var(--sal--background--dark);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:normal;
    color: var(--sal--text--white);
    overflow-x: hidden;
}


.sal-bg-primary {
   background: var(--sal--primary--color) !important;
}
.sal-text-primary {
    color:var(--sal--primary--color) !important;
}

.sal-input-bg {
    background-color: var(--sal--input--bg--color) !important;
}
.sal-secondary-dark-bg {
 background: var(--sal-footer-dark) !important;
}
.sal-hero-bg {
    background: url("../img/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 536px;
    margin-top: -70px;

}
.sal-hero-bg-home {
    background: url("../img/bg-hero-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: -70px;
}
.sal-hero-particle-cube {
    position: absolute;
    width: 111.01px;
    height: 111.01px;
    left: 169.19px;
    top: 360px;
    background: url("../img/cube.png");
    transform: rotate(6deg);
    background-repeat: no-repeat;
}
.sal-hero-particle-cube-home {
    position: absolute;
    width: 111.01px;
    height: 111.01px;
    left: 580.19px;
    top: 523px;
    transform: rotate(6deg);
    background: url("../img/cube.png");
}
.sal-hero-particle-triangle {
    position: absolute;
    width: 182px;
    height: 182px;
    left: 1154.25px;
    top: 307px;
    background-repeat: no-repeat;
    background:url("../img/triangle.png");
    transform: rotate(22.02deg);
}
.sal-hero-particle-triangle-home {
    position: absolute;
    width: 182px;
    height: 182px;
    left: 1145.25px;
    top: 315px;
    background:url("../img/triangle.png");
    transform: rotate(22.02deg);
    background-repeat: no-repeat;
}

.sal-hero-particle-cross {
    position: absolute;
    width: 220px;
    height: 220px;
    left: 1037.6px;
    top: 42px;
    background: url("../img/cross.png");
    transform: rotate(28.38deg);
    background-repeat: no-repeat;

}
.sal-hero-particle-cross-home {
     position: absolute;
     width: 180px;
     height: 180px;
     left: 700.09px;
     top: 30.49px;
    background: url("../img/cross.png");
    transform: rotate(28.38deg);
    background-repeat: no-repeat;
}
.sal-hero-particle-ball-1 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1274px;
    top: 112px;
    background: url("../img/ball-1.png");
    background-repeat: no-repeat;

}
.sal-hero-particle-ball-1-home {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1174px;
    top: 112px;
    background: url("../img/ball-1.png");
    background-repeat: no-repeat;
}
.sal-hero-particle-ball-2 {
     position: absolute;
     width: 23px;
     height: 23px;
     left: 217px;
     top: 186px;
    background: url("../img/ball-2.png");
    background-repeat: no-repeat;
}.sal-hero-particle-ball-2-home {
     position: absolute;
     width: 23px;
     height: 23px;
     left: 750px;
     top: 292px;
    background: url("../img/ball-2.png");
     background-repeat: no-repeat;
}
.sal-hero-particle-ball-3-home {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 1200px;
    top: 536px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background: url("../img/ball-3.png");
    background-repeat: no-repeat;
}

.sal-particle-game-character {
    width: 500px;
    max-width: 546px;
    /*margin-right: 80px;*/
    /*transform: matrix(-1, 0, 0, 1, 0, 0);*/
}
.sal-lead {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    /* or 27px */

    text-align: center;

    color: #9B9B9B;
}

.sal-lead-home {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #9B9B9B;

}
.sal-lead-parallax-2 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #9B9B9B;

}
.sal-hero-title-home {
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 121%;
    color: #FFFFFF;
}
.sal-hero-btn-home {
     width: 222px;
     height: 48px;
     background: var(--sal--primary--color);
     border-radius: 100px;
    color: var(--sal--text--white)
}
.sal-breadcrumb-title{
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 121%;
    text-align: center;
    color: #FFFFFF;
}
.sal-lead-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #8C8C8C;
}

.sal-intro-title-home {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 121%;
    /* or 44px */

    /*display: flex;*/
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}

.sal-games-home{
    /*min-width: 300px;*/
    /*min-height: 300px;*/

}

.sal-home-about-title {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 121%;
    color: #FFFFFF;
}
.sal-card-home {
    background: var(--sal-footer-dark);
    border-radius: 5px;
}
.sal-card-home-wide {
    background: var(--sal-footer-dark);
    border-radius: 5px;
    border-top: 10px solid var(--sal--primary--color);

}
.sal-card-icon-home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #212121;
    border-radius: 100px;
}.sal-card-icon {
   width: 100px;
}
 .sal-card-header {
     display: flex;
     flex-flow: row wrap;
     justify-items: center;
     align-items: center;
 }


.sal-card-title-home {

     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 208%;
     /* or 33px */

     text-align: center;

     color: #FFFFFF;
}
.sal-card-title {

     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 208%;
     /* or 33px */

     color: #FFFFFF;
}
.sal-card-text-home {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 208%;
      /* or 29px */

      text-align: center;

      color: #FFFFFF;
}
.sal-card-text {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 208%;
      /* or 29px */

      color: #FFFFFF;
}
 .sal-parallax-home {
     background: url("../img/parallax-bg.png");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     width: 100% !important;
     padding: 0 !important;
     margin:0 !important;
 }
.sal-parallax-2-home {
     background: url("../img/second-parallax-bg.png");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
    /* width: 100% !important;*/
    /*height: 50vh;*/
 }

.sal-counter-item {
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    align-items: baseline;
    padding: 20px;
}

.sal-counter-item:not(:last-child)  {
    border-right: 1px solid #FFFFFF;

}
.sal-counter-item .sal-count {
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    text-align: center;
    color:#ffffff;
    margin: 0;

}

.sal-counter-item span {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 193.1%;
    text-align: center;
    color: #9B9B9B;
}


/*Accordion*/

.accordion-content {
    display: none;
}

.accordion-content.active {
    display: block;
}

