
@media only screen and  (max-width: 567px) {

    html, body {
        overflow-x: hidden !important;
    }


    .sal-hero-bg-home {
        overflow: hidden !important;
        max-width: 100vw;
        width: 100vw;
    }
    .sal-parallax-home {
        display: flex;
        flex-flow: column-reverse;
        background-repeat: no-repeat;
        background-size: cover;
        /*background-position: center center ;*/
        background: url("../img/parallax-bg-mobile.png");
    }
    .sal-parallax-2-home {
        background-image: linear-gradient(0deg, rgba(240, 184, 41, 0.6), rgba(240, 184, 41, 0.6)),url("../img/alien.png");
        background-repeat: no-repeat !important;
        background-size: 60%;
        background-position: center right;
        color: #000000 !important;
    }
    .sal-parallax-2-home {
        background-color: #f0b829;
        background-repeat: no-repeat !important;
        background-size: 60%;
        background-position: center right;
        color: #000000 !important;
    }
    .sal-title-parallax-2{

        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 121%;
        /* or 39px */

        text-align: center;

        color: #000000;


        /* Inside auto layout */

    }
    .sal-parallax-2-home {
        padding: 25px;
    }
    footer.sal-footer {
        display: flex;
        flex-direction: column;
        padding: 25p;
    }
    .sal-footer-nav-lg {
        display: none;
    }

    .sal-footer-nav-sm {
        display: block;
    }


    .sal-lead--parallax-2 {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 33px;
        text-align: center;

        color: #000000;
    }

    .sal-title-parallax-2, .sal-lead-parallax-2 {
        color: #000000 !important;
    }
    .sal-counter-item .sal-count {
        font-weight: 600 !important;
        font-size: 20px !important;
    }
    .sal-counter-item {

        padding: 10px !important;
        display: flex !important;
        justify-content: center; !important;
        align-items: center !important;
    }
    .sal-hero-bg-home {
        background-size: cover;
        background-position: center bottom;
    }
    .sal-particle-game-character {
        width: 200px;
        /*margin-left: 50px;*/
        display: flex;
        justify-content: center;
        flex-flow: column;
    }

    .sal-hero-particle-cube-home {
        position: absolute;
        background-size: 53.06px 53.06px;
        left: 6.55px;
        top: 757.21px;
        background-repeat: no-repeat;
    }
    .sal-hero-particle-ball-2-home {
        position: absolute;
        left: 60.62px;
        top: 642.67px;
        background-repeat: no-repeat;
        background-size: 11.4px 11.4px;
    }
    .sal-hero-particle-ball-3-home {
        position: absolute;
        left: 270.58px;
        top: 763.66px;
        background-size: 7.93px 7.93px;
        background-repeat: no-repeat;
    }
    .sal-hero-particle-ball-1-home {
        position: absolute;
        left: 240.66px;
        top: 553.42px;
        background-repeat: no-repeat;
        background-size: 11.9px 11.9px;
    }
    .sal-hero-particle-cross-home {
        /*display: none;*/
        position: absolute;
        left: 20.64px;
        top: 550px;
        transform: rotate(28.38deg);
        background-size: 68.43px 68.43px;
        background-repeat: no-repeat;
    }
    .sal-hero-particle-triangle-home {
        position: absolute;
        background-repeat: no-repeat;
        background-size: 90.25px 90.25px;
        left: 220.37px;
        top: 654.07px;
        transform: rotate(22.02deg);
        width: 30%;
    }

/* Bread Crumb*/
    .sal-hero-particle-cube {
        background-size:37.85px 37.85px ;
        left: 40.96px;
        top: 88px;
    }
    .sal-hero-particle-triangle {
        position: absolute;
        background-size:102.63px 102.63px;
        background-repeat: no-repeat;
        left: -4.52px;
        top: 257px;
    }
    .sal-hero-particle-cross{
        position: absolute;
        background-repeat: no-repeat;
        background-size: 64.53px 64.53px;
        left: 339.68px;
        top: 61px;
    }
    .sal-hero-particle-ball-2 {
        position: absolute;
        background-repeat: no-repeat;
        background-size: 23px 23px;
        left: 354px;
        top: 324px;
    }

    .sal-parallax-one-image-lg {
        display: none;
    }
    .sal-parallax-one-image-sm {
        display:block;
        width: 258px;
    }
}