
@media only screen and  (max-width: 567px) {
    .sal-parallax-2-home {
        background: linear-gradient(0deg, rgba(240, 184, 41, 0.6), rgba(240, 184, 41, 0.6)), url("../img/second-parallax-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center right;
        color: #000000 !important;
    }

    .sal-title-parallax-2, .sal-lead-parallax-2 {
        color: #000000 !important;
    }
    .sal-counter-item .sal-count {
        font-weight: 600 !important;
        font-size: 20px !important;
    }
    .sal-counter-item {

        padding: 10px !important;
        display: flex !important;
        justify-content: center; !important;
        align-items: center !important;
    }
    .sal-hero-bg-home {
        background-size: cover;
        background-position: center bottom;
    }
    .sal-particle-game-character {
        width: 200px;
        margin-left: 60px;
    }

    .sal-hero-particle-cube-home {
        position: absolute;
        background-size: 53.06px 53.06px;
        left: 6.55px;
        top: 757.21px;
        background-repeat: no-repeat;
    }
    .sal-hero-particle-ball-2-home {
        position: absolute;
        left: 106.62px;
        top: 642.67px;
        background-repeat: no-repeat;
        background-size: 11.4px 11.4px;
    }
    .sal-hero-particle-ball-3-home {
        position: absolute;
        left: 270.58px;
        top: 763.66px;
        background-size: 7.93px 7.93px;
        background-repeat: no-repeat;
    }
    .sal-hero-particle-ball-1-home {
        position: absolute;
        left: 340.66px;
        top: 553.42px;
        background-repeat: no-repeat;
        background-size: 11.9px 11.9px;
    }
    .sal-hero-particle-cross-home {
        /*display: none;*/
        position: absolute;
        left: 209.64px;
        top: 510px;
        background-size: 68.43px 68.43px;
        background-repeat: no-repeat;
    }
    .sal-hero-particle-triangle-home {
        position: absolute;
        background-repeat: no-repeat;
        background-size: 90.25px 90.25px;
        left: 230.37px;
        top: 654.07px;
    }

/* Bread Crumb*/
    .sal-hero-particle-cube {
        background-size:37.85px 37.85px ;
        left: 40.96px;
        top: 88px;
    }
    .sal-hero-particle-triangle {
        position: absolute;
        background-size:102.63px 102.63px;
        background-repeat: no-repeat;
        left: -4.52px;
        top: 257px;
    }
    .sal-hero-particle-cross{
        position: absolute;
        background-repeat: no-repeat;
        background-size: 64.53px 64.53px;
        left: 339.68px;
        top: 61px;
    }
    .sal-hero-particle-ball-2 {
        position: absolute;
        background-repeat: no-repeat;
        background-size: 23px 23px;
        left: 354px;
        top: 324px;
    }
    /*Carousel*/
    .sal-slider-wrapper {
        display: flex;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        padding: 2.5rem;
    }
    .sal-slider-item {
        animation: animate 25s alternate linear infinite;
    }
    .sal-slider-wrapper:hover .sal-slider-item  {
        animation-play-state: paused;
    }
    @keyframes animate {
        0% {
            transform: translate3d(0, 0, 0);
        }
        100% {
            transform: translate3d(-1100px, 0, 0);
        }
    }

    .sal-slider-wrapper {
        width: 95%;
        border-radius: 0;
        padding: 0;
    }
}